<html>
    <head>
        <Title>
        Name on page    
        </Title>
        <!-- Css
        <link rel="stylesheet" href="">
        -->

       <!-- This a refence to an existing Boostrap framework --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="mystyle.css">
    </head>    
    
    <body>
       <div class="container">
            <div class="main-content">
                Hello MR poop
            </div>
        </div>

       

    </body>

</html>


